 /* PLAYER */
.but1 {
    a {
    text-decoration: none;
    }
}
.playerid_dismain {
  display: block; 
}
.playerid_distext {
  font-weight: 600;
  margin-left: 10px;
}
.schedule_onair {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 1.5rem;
     min-height: 5rem;
    /* padding: 1rem 0;
     */
     list-style: none;
}
 .schedule_cover {
     flex: 0 0 8rem;
     max-width: 8rem;
     max-height: 8rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .schedule_title {
     font-size: 1.5rem;
          a {
         text-decoration: none;
     }
}
 .schedule_author {
     font-size: 1rem;
          a {
         text-decoration: none;
     }
}
 .schedule_hour {
     font-size: 1rem;
}
 .schedule_item {
     font-size: 0.8rem;
     text-transform: uppercase;
     padding-left: 4px;
     padding-right: 4px;
     background: silver;
     display: inline;
}
 .schedule_item:empty {
     padding-left: 0px;
     padding-right: 0px;
}
 @media screen and (max-width: 600px) {
     .schedule_info {
         padding:1rem;
         margin:0rem;
    }
     .schedule_onair {
         gap: 1rem;
         min-height: 1rem;
    }
     .schedule_cover {
         flex: 0 0 5rem;
         max-width: 5rem;
         max-height: 5rem;
         border-radius: 1rem;
         overflow: hidden;
         img {
             display: block;
             height: auto;
             max-width: 100%;
        }
    }
     .schedule_title {
         font-size: 1rem;
    }
     .schedule_author {
         font-size: 0.7rem;
    }
     .schedule_hour {
         font-size: 0.7rem;
    }
     .schedule_item {
         font-size: 0.6rem;
    }
     .schedule_content {
         line-height: 1.5;
    }
}

/* PROGRAMY */

 .title {
     display: block;
     font-size: 2em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     color: #777;
     text-align: center;
}
 .paged_category {
     font-weight: 600;
     text-transform: uppercase;
     background: gray;
     color: black;
     display: inline;
     margin-left: 40px;
     padding-left: 10px;
     padding-right: 10px;
}
 .paged_title {
     font-weight: 600;
     text-transform: uppercase;
     background: silver;
     display: inline;
     margin-left: 40px;
     padding-left: 10px;
     padding-right: 10px;
}
 .prog_info {
     display: flex;
     align-items: center;
     gap: 2rem;
     min-height: 5rem;
     padding: 1rem 0;
     list-style: none;
     border-bottom: 1px solid #e3e3e3;
}
 .prog_cover {
     flex: 0 0 6rem;
     max-width: 6rem;
     max-height: 6rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .prog_name {
     font-size: 1.5rem;
}
 .prog_host {
     font-size: 1rem;
}
 .prog_onair {
     font-size: 0.8rem;
}
 .programs {
     width: 100%;
     p {
         display: none;
    }
}
 @media screen and (max-width: 600px) {
     .prog_cover {
         flex: 0 0 6rem;
         max-width: 4rem;
         max-height: 4rem;
         border-radius: 1rem;
         overflow: hidden;
         img {
             display: block;
             height: auto;
             max-width: 100%;
        }
    }
     .prog_name {
         font-size: 1rem;
    }
     .prog_host {
         font-size: 0.7rem;
    }
     .prog_onair {
         font-size: 0.5rem;
    }
     .prog_content {
         line-height: 1.8;
    }
     .title_days {
         font-weight: 700;
         margin-left: 25px;
    }
}
 .program_info_title {
     margin-left: 25px;
     font-weight: 700;
     font-size: 2rem;
     margin-top: 20px;
     margin-bottom: 10px;
     line-height: 40px;
}
 .program_info_box {
     display: flex;
     margin-left: 25px;
}
 .program_info_cover {
     flex: 0 0 10rem;
     max-width: 10rem;
     max-height: 10rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .program_info_data {
     align-items: center;
     margin-left: 10px;
     padding: 1rem 0;
}
 .program_info_djs {
     font-size: 18px;
}
 .program_info_airtime {
     font-weight: 600;
}
 .program_info_desc {
     align-items: center;
     margin-left: 25px;
     padding: 1rem 0;
}
 .program_info_urls {
     letter-spacing: 5px;
     margin-left: 25px;
     font-size: 28px;
}
 @media screen and (max-width: 600px) {
     .program_info_box {
         display: block;
    }
     .program_info_cover {
         margin: auto;
    }
     .program_info_data {
         margin-left: 0px;
    }
}

/* RAMÓWKA */

 .title {
     display: block;
     font-size: 2em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     color: #777;
     text-align: center;
     a {
         text-decoration: none;
     }
}
 .title_days {
     font-weight: 700;
     margin-left: 50px;
}
 .paged_title {
     font-weight: 600;
     text-transform: uppercase;
     background: silver;
     display: inline;
     margin-left: 40px;
     padding-left: 10px;
     padding-right: 10px;
}
 .sch_prog {
     display: flex;
     align-items: center;
     gap: 2rem;
     min-height: 5rem;
     padding: 1rem 0;
     list-style: none;
     border-bottom: 1px solid #e3e3e3;
}
 .prog_hour {
     width: auto;
     min-width: 105px;
}
 .prog_cover {
     flex: 0 0 6rem;
     max-width: 4rem;
     max-height: 4rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .prog_name {
     font-size: 1.2rem;
          a {
         text-decoration: none;
     }
}
 .prog_host {
     font-size: 0.9rem;
          a {
         text-decoration: none;
     }
}
 .prog_item {
     font-size: 0.7rem;
     text-transform: uppercase;
     padding-left: 4px;
     padding-right: 4px;
     background: silver;
     display: inline;
}
 .prog_item:empty {
     padding-left: 0px;
     padding-right: 0px;
}
 .prog_desc {
     font-size: 0.8rem;
}
 .schedule {
     width: 100%;
     p {
         display: none;
    }
     .subsch {
         color: grey;
    }
     .onair {
         color: red;
    }
}
 @media screen and (max-width: 600px) {
     .prog_cover {
         grid-row-start: 1;
         grid-row-end: 3;
         width: 250px;
    }
     .prog_name {
         font-size: 1rem;
    }
     .prog_host {
         font-size: 0.75rem;
    }
     .prog_item {
         font-size: 0.6rem;
    }
     .prog_desc {
         font-size: 0.6rem;
    }
     .prog_hour {
         grid-column: 2;
         grid-row: 2;
         font-size: 1.0rem;
         width: 250px;
    }
     .sch_prog {
         display: grid;
         line-height: 0.5;
         column-gap: 0px;
    }
     .prog_content {
         grid-column: 2;
         grid-row: 1;
         line-height: 1.8;
         width: 250px;
         
    }
     .title_days {
         font-weight: 700;
         margin-left: 25px;
    }
}
