/* PLAYER */
 .but1 {
     a {
         text-decoration: none;
    }
}
 .playerid_dismain {
     display: block;
}
 .playerid_distext {
     font-weight: 600;
     margin-left: 10px;
}
 .schedule_onair {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 1.5rem;
     min-height: 5rem;
    /* padding: 1rem 0;
     */
     list-style: none;
}
 .schedule_cover {
     flex: 0 0 8rem;
     max-width: 8rem;
     max-height: 8rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .schedule_title {
     font-weight: 600;
     font-size: 1.5rem;
     a {
         text-decoration: none;
    }
}
 .schedule_author {
     font-size: 1rem;
     a {
         text-decoration: none;
    }
}
 .schedule_hour {
     font-size: 1rem;
}
 .schedule_item {
     font-size: 0.8rem;
     text-transform: uppercase;
     padding-left: 4px;
     padding-right: 4px;
     background: silver;
     display: inline;
}
 .schedule_item:empty {
     padding-left: 0px;
     padding-right: 0px;
}
 .schedule_name_box {
     background-color: #616161;
     border-radius: 1rem;
     color: white;
     width: 120px;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     font-size: 13px;
     line-height: 1em;
}
 @media screen and (max-width: 600px) {
     .schedule_info {
         padding:1rem;
         margin:0rem;
    }
     .schedule_onair {
         gap: 1rem;
         min-height: 1rem;
    }
     .schedule_cover {
         flex: 0 0 5rem;
         max-width: 5rem;
         max-height: 5rem;
         border-radius: 1rem;
         overflow: hidden;
         img {
             display: block;
             height: auto;
             max-width: 100%;
        }
    }
     .schedule_title {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 2;
         font-size: 1rem;
    }
     .schedule_author {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 2;
         font-size: 0.7rem;
    }
     .schedule_hour {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 2;
         font-size: 0.7rem;
    }
     .schedule_item {
         font-size: 0.6rem;
    }
     .schedule_content {
         line-height: 1.5;
    }
     .schedule_name_box {
         width: 75px;
         height: 75px;
         font-size: 8px;
    }
}
/* PROGRAMY */
 .title {
     display: block;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 1.5em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     color: #777;
     text-align: center;
     a {
         text-decoration: none;
    }
}
 .paged_category {
     font-weight: 600;
     text-transform: uppercase;
     background: gray;
     color: black;
     display: inline;
     margin-left: 40px;
     padding-left: 10px;
     padding-right: 10px;
}
 .paged_title {
     font-weight: 600;
     text-transform: uppercase;
     background: silver;
     display: inline;
     margin-left: 40px;
     padding-left: 10px;
     padding-right: 10px;
}
 .prog_info {
     display: flex;
     align-items: center;
     gap: 2rem;
     min-height: 5rem;
     padding: 1rem 0;
     list-style: none;
     border-bottom: 1px solid #e3e3e3;
}
 .prog_cover {
     flex: 0 0 6rem;
     max-width: 6rem;
     max-height: 6rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .prog_name {
     font-weight: 600;
     font-size: 1.5rem;
}
 .prog_host {
     font-size: 1rem;
}
 .prog_onair {
     font-size: 0.8rem;
     font-weight: 600;
     text-transform: uppercase;
     margin-top: 15px;
}
 .prog_onair:empty {
     margin-top: 0px;
}
 .programs {
     width: 100%;
     p {
         display: none;
    }
}
 .programs_archived {
     width: 100%;
     color: grey;
     img {
         opacity: 0.6;
    }
     p {
         display: none;
    }
}
 .programs_archived > .prog_info > .prog_cover {
     position: relative;
     text-align: center;
     color: white;
     .program_img_arch {
         width: 100%;
         height: 18px;
         text-align: center;
         font-size: 8px;
         position: absolute;
         top: 0;
         background: rgba(1, 1, 1, 0.5);
         text-transform: uppercase;
         padding-top: 4px;
         color: white;
         z-index: 0;
    }
}
 .prog_name_box {
     background-color: #616161;
     border-radius: 1rem;
     color: white;
     width: 60px;
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     font-size: 16px;
     line-height: 1em;
}
 @media screen and (max-width: 600px) {
     .prog_cover {
         flex: 0 0 6rem;
         max-width: 4rem;
         max-height: 4rem;
         border-radius: 1rem;
         overflow: hidden;
         img {
             display: block;
             height: auto;
             max-width: 100%;
        }
    }
     .prog_name {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 3;
         font-size: 1rem;
    }
     .prog_host {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 2;
         font-size: 0.7rem;
    }
     .prog_onair {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 2;
         font-size: 0.5rem;
         margin-top: 5px;
    }
     .prog_content {
         line-height: 1.8;
    }
     .title_days {
         font-weight: 700;
         margin-left: 25px;
    }
}
 .program_info_title {
     margin-left: 25px;
     font-weight: 700;
     font-size: 2rem;
     margin-top: 20px;
     margin-bottom: 10px;
     line-height: 40px;
}
 .program_info_box {
     display: flex;
     margin-left: 25px;
}
 .program_info_cover {
     flex: 0 0 10rem;
     max-width: 10rem;
     max-height: 10rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .program_info_data {
     align-items: center;
     margin-left: 10px;
     padding: 1rem 0;
}
 .program_info_djs {
     font-size: 18px;
     font-weight: 400;
}
 .program_info_djs_podcast {
     font-size: 16px;
     text-transform: uppercase;
     font-weight: 600;
}
 .program_info_airtime {
     font-weight: 600;
     text-transform: uppercase;
}
 .program_info_airtime_podcast {
     font-weight: 400;
}
 .program_info_producter_podcast {
     font-size: 14px;
}
 .program_info_email_podcast {
     font-size: 14px;
}
 .program_info_desc {
     align-items: center;
     margin-left: 25px;
     padding: 1rem 0;
}
 .program_info_urls {
     letter-spacing: 5px;
     margin-left: 25px;
     font-size: 28px;
}
 .program_info_onairs {
     font-weight: 600;
     font-size: 16px;
     margin-top: 10px;
     margin-left: 25px;
}
 .program_info_onairs_list {
     margin-left: 25px;
}
 .program_info_name_box {
     background-color: #616161;
     border-radius: 1rem;
     color: white;
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     font-size: 16px;
     line-height: 1em;
}
 @media screen and (max-width: 600px) {
     .program_info_box {
         display: block;
    }
     .program_info_cover {
         margin: auto;
    }
     .program_info_data {
         margin-left: 0px;
    }
     .program_info_onairs {
         font-size: 14px;
    }
     .program_info_onairs_list {
         font-size: 12px;
    }
}
/* RAMÓWKA */
 .title {
     display: block;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 1.5em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     color: #777;
     text-align: center;
     a {
         text-decoration: none;
    }
}
 .title_days {
     font-weight: 700;
     margin-left: 50px;
}
 .paged_title {
     font-weight: 600;
     text-transform: uppercase;
     background: silver;
     display: inline;
     margin-left: 40px;
     padding-left: 10px;
     padding-right: 10px;
}
 .sch_prog {
     display: flex;
     align-items: center;
     gap: 2rem;
     min-height: 5rem;
     padding: 1rem 0;
     list-style: none;
     border-bottom: 1px solid #e3e3e3;
}
 .subsch {
     padding-left: 60px;
     gap: 1.5rem;
}
 .prog_hour {
     width: auto;
     min-width: 105px;
}
 .prog_cover {
     flex: 0 0 6rem;
     max-width: 4rem;
     max-height: 4rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .subsch > .prog_cover {
     flex: 0 0 2.5rem;
     max-width: 2.5rem;
     max-height: 2.5rem;
     border-radius: 0.5rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .prog_name {
     font-weight: 600;
     font-size: 1.2rem;
     a {
         text-decoration: none;
    }
}
 .prog_host {
     font-size: 0.9rem;
     a {
         text-decoration: none;
    }
}
 .prog_item {
     font-size: 0.7rem;
     text-transform: uppercase;
     padding-left: 4px;
     padding-right: 4px;
     background: silver;
     display: inline;
}
 .prog_item:empty {
     padding-left: 0px;
     padding-right: 0px;
}
 .prog_desc {
     font-size: 0.8rem;
}
 .schedule {
     width: 100%;
     p {
         display: none;
    }
     .subsch {
         color: grey;
    }
     .onair {
         color: red;
    }
}
 .subsch > .prog_content > .prog_name {
     font-weight: 600;
     font-size: 0.8rem;
     a {
         text-decoration: none;
    }
}
 .subsch > .prog_content > .prog_host {
     font-size: 0.6rem;
     a {
         text-decoration: none;
    }
}
 .subsch > .prog_hour {
     font-size: 0.8rem;
     min-width: 75px;
}
 .subsch > .prog_content > .prog_item {
     font-size: 0.5rem;
     text-transform: uppercase;
     padding-left: 4px;
     padding-right: 4px;
     background: silver;
     display: inline;
}
 .subsch > .prog_content > .prog_item:empty {
     padding-left: 0px;
     padding-right: 0px;
}
 .subsch > .prog_content > .prog_desc {
     font-size: 0.6rem;
}
 .prog_name_box {
     background-color: #616161;
     border-radius: 1rem;
     color: white;
     width: 60px;
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     font-size: 6.4px;
     line-height: 1em;
}
 .subsch > .prog_cover > .prog_name_box {
     background-color: #616161;
     border-radius: 0.5rem;
     color: white;
     width: 37.5px;
     height: 37.5px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     font-size: 3.9px;
     line-height: 1em;
}
 @media screen and (max-width: 600px) {
     .subsch > .prog_cover {
         flex: 0 0 3rem;
         max-width: 3rem;
         max-height: 3rem;
         border-radius: 0.5rem;
    }
     .prog_cover {
         grid-row-start: 1;
         grid-row-end: 3;
         width: 250px;
    }
     .prog_name {
         font-size: 1rem;
    }
     .prog_host {
         font-size: 0.75rem;
    }
     .prog_item {
         font-size: 0.6rem;
    }
     .prog_desc {
         font-size: 0.6rem;
    }
     .prog_hour {
         grid-column: 2;
         grid-row: 2;
         font-size: 1.0rem;
         @media (min-width:576px) {
             width: 425px;
        }
         @media (max-width:575px) and (min-width:551px) {
             width: 400px;
        }
         @media (max-width:550px) and (min-width:526px) {
             width: 375px;
        }
         @media (max-width:525px) and (min-width:501px) {
             width: 350px;
        }
         @media (max-width:500px) and (min-width:476px) {
             width: 325px;
        }
         @media (max-width:475px) and (min-width:451px) {
             width: 300px;
        }
         @media (max-width:450px) and (min-width:426px) {
             width: 275px;
        }
         @media (max-width:425px) and (min-width:401px) {
             width: 250px;
        }
         @media (max-width:400px) and (min-width:376px) {
             width: 225px;
        }
         @media (max-width:375px) and (min-width:351px) {
             width: 200px;
        }
         @media (max-width:350px) {
             width: 175px;
        }
    }
     .sch_prog {
         display: grid;
         line-height: 0.5;
         column-gap: 20px;
         justify-self: left;
    }
     .prog_content {
         grid-column: 2;
         grid-row: 1;
         line-height: 1.8;
         @media (min-width:576px) {
             width: 425px;
        }
         @media (max-width:575px) and (min-width:551px) {
             width: 400px;
        }
         @media (max-width:550px) and (min-width:526px) {
             width: 375px;
        }
         @media (max-width:525px) and (min-width:501px) {
             width: 350px;
        }
         @media (max-width:500px) and (min-width:476px) {
             width: 325px;
        }
         @media (max-width:475px) and (min-width:451px) {
             width: 300px;
        }
         @media (max-width:450px) and (min-width:426px) {
             width: 275px;
        }
         @media (max-width:425px) and (min-width:401px) {
             width: 250px;
        }
         @media (max-width:400px) and (min-width:376px) {
             width: 225px;
        }
         @media (max-width:375px) and (min-width:351px) {
             width: 200px;
        }
         @media (max-width:350px) {
             width: 175px;
        }
    }
     .title_days {
         font-weight: 700;
         margin-left: 25px;
    }
     .subsch > .prog_hour {
         font-size: 0.7rem;
         @media (min-width:576px) {
             width: 380px;
        }
         @media (max-width:575px) and (min-width:551px) {
             width: 355px;
        }
         @media (max-width:550px) and (min-width:526px) {
             width: 330px;
        }
         @media (max-width:525px) and (min-width:501px) {
             width: 305px;
        }
         @media (max-width:500px) and (min-width:476px) {
             width: 280px;
        }
         @media (max-width:475px) and (min-width:451px) {
             width: 255px;
        }
         @media (max-width:450px) and (min-width:426px) {
             width: 230px;
        }
         @media (max-width:425px) and (min-width:401px) {
             width: 205px;
        }
         @media (max-width:400px) and (min-width:376px) {
             width: 180px;
        }
         @media (max-width:375px) and (min-width:351px) {
             width: 155px;
        }
         @media (max-width:350px) {
             width: 130px;
        }
    }
     .subsch > .prog_content {
         @media (min-width:576px) {
             width: 380px;
        }
         @media (max-width:575px) and (min-width:551px) {
             width: 355px;
        }
         @media (max-width:550px) and (min-width:526px) {
             width: 330px;
        }
         @media (max-width:525px) and (min-width:501px) {
             width: 305px;
        }
         @media (max-width:500px) and (min-width:476px) {
             width: 280px;
        }
         @media (max-width:475px) and (min-width:451px) {
             width: 255px;
        }
         @media (max-width:450px) and (min-width:426px) {
             width: 230px;
        }
         @media (max-width:425px) and (min-width:401px) {
             width: 205px;
        }
         @media (max-width:400px) and (min-width:376px) {
             width: 180px;
        }
         @media (max-width:375px) and (min-width:351px) {
             width: 155px;
        }
         @media (max-width:350px) {
             width: 130px;
        }
    }
     .subsch > .prog_content > .prog_name {
         font-size: 0.55rem;
    }
     .subsch > .prog_content > .prog_host {
         font-size: 0.45rem;
    }
     .subsch > .prog_content > .prog_item {
         font-size: 0.4rem;
    }
     .subsch > .prog_content > .prog_desc {
         font-size: 0.4rem;
    }
     .subsch > .prog_cover > .prog_name_box {
         width: 45px;
         height: 45px;
         font-size: 4.7px;
    }
}
/* SZCZEGÓŁOWA RAMÓWKA */
 .dsch_prog {
     display: flex;
     flex-direction: column;
     align-items: left gap: 2rem;
     min-height: 5rem;
     padding: 1rem 0;
     list-style: none;
     border-bottom: 1px solid #e3e3e3;
}
 .dsch_content {
     display: flex;
     font-size: 1.3em;
     font-weight: 600;
}
 .dsch_icon {
     margin-right: 5px;
}
 .dsch_host {
     font-size: 0.9em;
     margin-left: 25px;
}
 .dsch_hours {
     font-size: 0.8em;
     color: #444;
     margin-left: 25px;
}
 .dsch_desc {
     font-size: 0.6em;
     margin-left: 25px;
}
 @media screen and (max-width: 600px) {
     .dsch_host {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 2;
    }
     .dsch_hours {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 4;
    }
     .dsch_desc {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 4;
    }
}
