body,h1,h2,h3,h4,h5,h6 {font-family: "Red Hat Display", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.buttons {
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons1 {
  background-color: inherit; 
  color: black; 
  border: 2px solid #000000;
}

.buttons1:hover {
  background-color: #000000;
  color: white;
}

.buttons2 {
  background-color: inherit; 
  color: black; 
  border: 2px solid #000000;
  background-color: silver;
}

.buttons2:hover {
  background-color: #000000;
  color: white;
}

 a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

 .list-table {
	 table {
         border-collapse: collapse;
         width: 100%;
    }
     tr {
         height: 36px;
    }
     th, td {
         padding: 8px;
         text-align: left;
         border-bottom: 1px solid #DDD;
    }
     tr:hover {
         background-color: #CCC;
    }
}

 .boximg {
     border: 1px solid #130010;
	 @media (min-width:600px) {
     border-radius: 100px;
     width: 100px;
     height: 100px;}
	 @media (max-width:600px) {
     border-radius: 75px;
     width: 75px;
     height: 75px;}
}

 .ps_name {
     font-weight: 600;
     font-size: 16px;
     display: block;
}

 .ps_host {
     font-weight: 400;
     font-size: 11px;
     display: block;
	 text-transform: uppercase;
}

 .ps_info {
	  letter-spacing: 5px;
 }

 .ps_top1 {
    background-color: #e3e3e3;
}

 .ps2_name {
     font-weight: 600;
     font-size: 14px;
     display: block;
     text-transform: uppercase;
}

.panel {
  display: none;
}

.heading { 
    @media (min-width:600px) {font-size: 16px;}
    @media (max-width:600px) {font-size: 12px;}
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.heading:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #f70d28;
    display: block;
    position: relative;
    bottom: -2px;
}

.heading > strong {
color: #f70d28;
}

.bheading {
    background: #f70d28;
    border-radius: 2px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 36px;
    padding: 0 15px;
    white-space: nowrap;
    color: white;
    @media (min-width:600px) {font-size: 16px;}
    @media (max-width:600px) {font-size: 12px;}
}

.noteinfo {
  background-color: #000;
  color: white;
    border-radius: 1px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 24px;
    padding: 0 10px;
}

.noteinfotitle {
    background-color: #f70d28;
    color: white;
    @media (min-width:600px) {font-size: 18px;}
    @media (max-width:600px) {font-size: 14px;}
    line-height: 1;
    margin: 0;
    padding: 0;
}

.tooltip {
  position: relative;
}
  
.tooltip:hover:after {
  font-size: 13px;
  font-weight: normal;
  display: inline;
  background: #333;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: auto;
}
.tooltip:hover:before {
  display: inline;
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 22%;
  position: absolute;
  z-index: 98;
}

@media (max-width:600px) {
	div#menusub {
    width:auto;
    height:auto;
}
div#menusub > div#menuranking {
    position:inherit;
    top:42px;
    left:7px;
    width:auto;
    height:auto;
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
}
div#menusub > div#menuranking > div.menulist {
    display: inline-block;
    width:auto;
    height:auto;
    margin-left:5px;
    text-align:center;
    margin:3px;
    background-color:#c3c3c3;
	padding-right: 10px;
	padding-left: 10px;
}
}
@media (min-width:600px) {
	div#menusub {
    width:auto;
    height:auto;
}
div#menusub > div#menuranking {
    position:inherit;
    top:42px;
    left:7px;
    width:auto;
    height:auto;
}
div#menusub > div#menuranking > div.menulist {
    display: inline-block;
    width:auto;
    height:auto;
    margin-left:5px;
    text-align:center;
    margin:3px;
    background-color:#c3c3c3;
	padding-right: 10px;
	padding-left: 10px;
}
}
