.heading { 
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.heading:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #f70d28;
    display: block;
    position: relative;
    bottom: -2px;
}

.heading > strong {
color: #f70d28;
}

.bheading {
    background: #f70d28;
    border-radius: 2px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 36px;
    padding: 0 15px;
    white-space: nowrap;
    color: white;
    font-size: 16px;
}

.noteinfo {
  background-color: #000;
  color: white;
    border-radius: 1px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 24px;
    padding: 0 10px;
}

.noteinfotitle {
    background-color: #f70d28;
    color: white;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.tooltip {
  position: relative;
}
  
.tooltip:hover:after {
  font-size: 13px;
  font-weight: normal;
  display: inline;
  background: #333;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: auto;
}
.tooltip:hover:before {
  display: inline;
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 22%;
  position: absolute;
  z-index: 98;
}
