.website_portal {
  a {
     text-decoration: none;
  }
  @media (min-width:800px) {
     column-count: 3;
  }
  @media (max-width:800px) and (min-width:600px) {
     column-count: 2;
  }
  @media (max-width:600px) and (min-width:400px) {
     column-count: 2;
     font-size: 12px;
  }
  @media (max-width:400px) {
     column-count: 2;
     font-size: 10px;
  }
}
