.website_portal {
  a {
     text-decoration: none;
  }
  @media (min-width:800px) {
     column-count: 3;
  }
  @media (max-width:800px) and (min-width:600px) {
     column-count: 2;
  }
  @media (max-width:600px) and (min-width:400px) {
     column-count: 2;
     font-size: 12px;
  }
  @media (max-width:400px) {
     column-count: 2;
     font-size: 10px;
  }
}
 @media (max-width:600px) {
     div#menusub {
         width:auto;
         height:auto;
    }
     div#menusub > div#menuranking {
         position:inherit;
         top:42px;
         left:7px;
         width:auto;
         height:auto;
         overflow-x:auto;
         overflow-y:hidden;
         white-space: nowrap;
    }
     div#menusub > div#menuranking > div.menulist {
         display: inline-block;
         width:auto;
         height:auto;
         margin-left:5px;
         text-align:center;
         margin:3px;
         background-color:#c3c3c3;
         padding-right: 10px;
         padding-left: 10px;
         a {
            text-decoration: none;
         }
    }
}
 @media (min-width:600px) {
     div#menusub {
         width:auto;
         height:auto;
    }
     div#menusub > div#menuranking {
         position:inherit;
         top:42px;
         left:7px;
         width:auto;
         height:auto;
    }
     div#menusub > div#menuranking > div.menulist {
         display: inline-block;
         width:auto;
         height:auto;
         margin-left:5px;
         text-align:center;
         margin:3px;
         background-color:#c3c3c3;
         padding-right: 10px;
         padding-left: 10px;
         a {
            text-decoration: none;
         }
    }
}
.buttons {
  a {
     text-decoration: none;
  }
}
