.w3-row-padding > hr {
     border-top: 1px solid #e3e3e3;
}
 .website_portal {
     a {
         text-decoration: none;
    }
     @media (min-width:800px) {
         column-count: 3;
    }
     @media (max-width:800px) and (min-width:600px) {
         column-count: 2;
    }
     @media (max-width:600px) and (min-width:400px) {
         column-count: 2;
         font-size: 12px;
    }
     @media (max-width:400px) {
         column-count: 2;
         font-size: 10px;
    }
}
 .website_info_page {
     a {
         text-decoration: none;
    }
}
 .phone {
     @media (max-width:600px) {
         font-size:24px;
    }
     @media (min-width:600px) {
         font-size:36px;
    }
}
 @media (max-width:600px) {
     div#menusub {
         width: auto;
         height: auto;
    }
     div#menusub>div#menuranking {
         position: inherit;
         top: 42px;
         left: 7px;
         width: auto;
         height: auto;
         overflow-x: auto;
         overflow-y: hidden;
         white-space: nowrap;
    }
     div#menusub>div#menuranking>div.menulist {
         display: inline-block;
         width: auto;
         height: auto;
         margin-left: 5px;
         text-align: center;
         margin: 3px;
         background-color: #c3c3c3;
         padding-right: 10px;
         padding-left: 10px;
         a {
             text-decoration: none;
        }
    }
}
 @media (min-width:600px) {
     div#menusub {
         width: auto;
         height: auto;
    }
     div#menusub>div#menuranking {
         position: inherit;
         top: 42px;
         left: 7px;
         width: auto;
         height: auto;
    }
     div#menusub>div#menuranking>div.menulist {
         display: inline-block;
         width: auto;
         height: auto;
         margin-left: 5px;
         text-align: center;
         margin: 3px;
         background-color: #c3c3c3;
         padding-right: 10px;
         padding-left: 10px;
         a {
             text-decoration: none;
        }
    }
}
 .buttons1 {
     background-color: white;
}
 .buttons2 {
     background-color: silver;
}
 .buttons {
     a {
         text-decoration: none;
    }
}
 .panel {
     display: none;
}
 .pathology_list {
     display: flex;
     align-items: center;
     gap: 1rem;
     min-height: 5rem;
     padding: 0.5rem 0;
     list-style: none;
     border-bottom: 1px solid #e3e3e3;
}
 .pathology_cover {
     flex: 0 0 3rem;
     max-width: 3rem;
     max-height: 3rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .pathology_content {
     a {
         text-decoration: none;
    }
}
/* Style the tab */
 .tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
 .tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     @media screen and (min-width: 600px) {
         padding: 10px 12px;
         transition: 0.3s;
    }
     @media screen and (max-width: 600px) {
         padding: 6px 6px;
         transition: 0.3s;
         font-size: 10px;
    }
}
/* Change background color of buttons on hover */
 .tab button:hover {
     background-color: #ddd;
}
/* Create an active/current tablink class */
 .tab button.active {
     background-color: #ccc;
}
/* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
     -webkit-animation: fadeEffect 1s;
     animation: fadeEffect 1s;
}
/* Fade in tabs */
 @-webkit-keyframes fadeEffect {
     from {
        opacity: 0;
    }
     to {
        opacity: 1;
    }
}
 @keyframes fadeEffect {
     from {
        opacity: 0;
    }
     to {
        opacity: 1;
    }
}
