 .schedule_onair {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 2rem;
     min-height: 5rem;
    /* padding: 1rem 0;
     */
     list-style: none;
}
 .schedule_cover {
     flex: 0 0 8rem;
     max-width: 8rem;
     max-height: 8rem;
     border-radius: 1rem;
     overflow: hidden;
     img {
         display: block;
         height: auto;
         max-width: 100%;
    }
}
 .schedule_title {
     font-size: 1.5rem;
}
 .schedule_author {
     font-size: 1rem;
}
 .schedule_hour {
     font-size: 0.8rem;
}
 .schedule_item {
     font-size: 0.8rem;
     text-transform: uppercase;
     background: silver;
     display: inline;
}
 @media screen and (max-width: 600px) {
     .schedule_info {
         padding:1rem;
         margin:0rem;
    }
     .schedule_onair {
         gap: 1rem;
         min-height: 1rem;
    }
     .schedule_cover {
         flex: 0 0 5rem;
         max-width: 5rem;
         max-height: 5rem;
         border-radius: 1rem;
         overflow: hidden;
         img {
             display: block;
             height: auto;
             max-width: 100%;
        }
    }
     .schedule_title {
         font-size: 1rem;
    }
     .schedule_author {
         font-size: 0.7rem;
    }
     .schedule_hour {
         font-size: 0.5rem;
    }
     .schedule_item {
         font-size: 0.5rem;
    }
     .schedule_content {
         line-height: 1.5;
    }
}
