.heading  > .on-air {
     color: #FF0000;
}

.tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
 .tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
     @media (min-width:993px) {font-size: 17px;};
     @media (max-width:992px) and (min-width:734px) {font-size: 14px;};
     @media (max-width:733px) and (min-width:668px) {font-size: 12px;};
     @media (max-width:667px) and (min-width:636px) {font-size: 11px;};
     @media (max-width:635px) and (min-width:601px) {font-size: 10px;};
     @media (max-width:600px) {font-size: 11px;};
     font-family: inherit;
}
/* Change background color of buttons on hover */
 .tab button:hover {
     background-color: #ddd;
}
/* Create an active/current tablink class */
 .tab button.active {
     background-color: #ccc;
}
/* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
     .schedule_info > .noteinfo > ul {
          @media (max-width:600px) {
          font-size: 12px;
          }
     }
     .schedule_info > ul {
          @media (max-width:600px) {
          font-size: 12px;
          }
     }
     .schedule_info > .schedule_host {
          @media (max-width:600px) {
          font-size:12px;
          }
          color: darkturquoise;
          text-decoration: underline;
          font-style: oblique;
     }
     .schedule_info > .schedule_genre {
          @media (max-width:600px) {
          font-size:12px;
          }
          color: silver;
     }
     .schedule_info > ul > .schedule_host {
          @media (max-width:600px) {
          font-size:12px;
          }
          color: darkturquoise;
          text-decoration: underline;
          font-style: oblique;
     }
     .schedule_info > ul > .schedule_genre {
          @media (max-width:600px) {
          font-size:12px;
          }
          color: silver;
     }
}
 .tabcontent.active {
     display: block;
}
