@media only screen and (max-width: 600px) {
    .schedule-item {
      display: block;
      font-size: 0.75em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      color: #ff0000;
      line-height: 14px;
    }

    .schedule-title {
      display: block;
      font-size: 1.25em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      font-weight: 600;
      line-height: 24px;
    }

    .schedule-author {
      display: block;
      font-size: 1em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      color: #777;
      line-height: 16px;
    }

    .schedule-photo {
      border: 0.75px solid #000000;
      border-radius: 100px;
      width: 100px;
      height: 100px;
      box-shadow: 0px 0px 8px rgba(117, 117, 117, 4), 0px 0px 16px rgba(117, 117, 117, 4);
    }

    input,
    button,
    select,
    audio,
    iframe {
      font-family: inherit;
    }

    .but1:hover {
      background-color: #777;
      color: white;
    }
}
@media only screen and (min-width: 600px) {
.schedule-item {
      display: block;
      font-size: 1.25em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      color: #ff0000;
      line-height: 24px;
    }

    .schedule-title {
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      font-weight: 600;
      line-height: 35px;
    }

    .schedule-author {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      color: #777;
      line-height: 28px;
    }

    .schedule-photo {
      border: 1px solid #000;
      border-radius: 150px;
      width: 150px;
      height: 150px;
      box-shadow: 0px 0px 16px rgba(117, 117, 117, 4), 0px 0px 32px rgba(117, 117, 117, 4);
    }

    input,
    button,
    select,
    audio,
    iframe {
      font-family: inherit;
    }

    .but1:hover {
      background-color: #777;
      color: white;
    }
}

.schedule_onair {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 5rem;
    padding: 1rem 0;
    list-style: none;
}

.schedule_cover {
    flex: 0 0 8rem;
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
       display: block;
       height: auto;
     max-width: 100%;
    }
}

.schedule_title {
    font-size: 1.5rem;
}

.schedule_author {
    font-size: 1rem;
}

.schedule_hour {
    font-size: 0.8rem;
}

.schedule_item {
    font-size: 0.8rem;
    text-transform: uppercase;
    background: silver;
    display: inline;
}

@media screen and (max-width: 600px) {
.schedule_onair {
    gap: 1rem;
    min-height: 1rem;
}

.schedule_cover {
    flex: 0 0 5rem;
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
       display: block;
       height: auto;
     max-width: 100%;
    }
}

.schedule_title {
    font-size: 1rem;
}

.schedule_author {
    font-size: 0.7rem;
}

.schedule_hour {
    font-size: 0.5rem;
}

.schedule_item {
    font-size: 0.5rem;
}

.schedule_content {
    line-height: 1.5;
}
