    .title {
      display: block;
      font-size: 2em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      color: #777;
      text-align: center;
    }

.paged_category {
    font-weight: 600;
    text-transform: uppercase;
    background: gray;
    color: black;
    display: inline;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.paged_title {
    font-weight: 600;
    text-transform: uppercase;
    background: silver;
    display: inline;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.prog_info {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 5rem;
    padding: 1rem 0;
    list-style: none;
    border-bottom: 1px solid #e3e3e3;
}

.prog_cover {
    flex: 0 0 6rem;
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
       display: block;
       height: auto;
     max-width: 100%;
    }
}

.prog_name {
    font-size: 1.5rem;
}

.prog_host {
    font-size: 1rem;
}

.prog_onair {
    font-size: 0.8rem;
}

.programs {
    width: 100%;
    p {
        display: none;
    }
}

@media screen and (max-width: 600px) {
.prog_cover {
    flex: 0 0 6rem;
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
       display: block;
       height: auto;
     max-width: 100%;
    }
}

.prog_name {
    font-size: 1rem;
}

.prog_host {
    font-size: 0.7rem;
}

.prog_onair {
    font-size: 0.5rem;
}

.prog_content {
    line-height: 1.8;
}

.title_days {
    font-weight: 700;
    margin-left: 25px;
}
}

.program_info_title {
    margin-left: 25px;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.program_info_box {
    display: flex;
    margin-left: 25px;
}

.program_info_cover {
    flex: 0 0 10rem;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
       display: block;
       height: auto;
     max-width: 100%;
    }
}

.program_info_data {
    align-items: center;
    margin-left: 10px;
    padding: 1rem 0;  
}

.program_info_desc {
    align-items: center;
    margin-left: 25px;
    padding: 1rem 0;  
}
